rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Coleção de usuários: cada pessoa só pode ler e escrever
    // o PRÓPRIO documento (identificado pelo uid da conta logada).
    match /users/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

  }
}
